<h2>
<%= link_to '管理者新規登録', new_admin_admin_path, class: 'new_button' %>
管理者一覧
</h2>

<table>
<tr>
    <th class="index_name">名称</th>
    <th class="index_created_at">日時</th>
    <th></th>
    <th></th>
</tr>
<% @admins.each do |admin| %>
<tr>
    <td><%= link_to admin.name, admin_admin_path(admin) %></td>
    <td><%= admin.updated_at %></td>
    <td><%= link_to '編集', edit_admin_admin_path(admin), class: "edit_button" %></td>
    <td><%= link_to '削除', [:admin, admin], class: "delete_button", method: :delete, data: { confirm: "記事「#{admin.name}」を削除します。よろしいですか？" } %></td>
</tr>
<% end %>
</table>