<h2>
<%= link_to '新しい記事', new_article_path, class: 'header-menu' %>
一覧
</h2>

<table>
<tr>
    <th class="article_name">名称</th>
    <th class="article_created_at">日時</th>
    <th></th>
    <th></th>
</tr>
<% @articles.each do |article| %>
<tr>
    <td><%= link_to article.name, article_path(article) %></td>
    <td><%= article.created_at %></td>
    <td><%= link_to '編集', edit_article_path(article) %></td>
    <td><%= link_to '削除', article, method: :delete, data: { confirm: "記事「#{article.name}」を削除します。よろしいですか？" } %></td>
</tr>
<% end %>
</table>