<h2>
<%= link_to '記事一覧', articles_path, class: 'header-menu' %>
<%= @article.name %>
</h2>
<p class="show_updated_at">
<%= @article.updated_at  %>
</p>
<h3 class="show_description">
<%= auto_link(simple_format(h(@article.description), {}, sanitize: false)) %>
</h3>
<table align="right" class="show_option">
<td class="edit_button">
<%= link_to '編集', edit_article_path(@article) %>
</td>
<td class="delete_button">
<%= link_to '削除', @article, method: :delete, data: { confirm: "記事「#{@article.name}」を削除します。よろしいですか？" } %>
</td>
</table>
